//Primary colors
$DarkBlue: hsl(233, 26%, 24%);
$LimeGreen: hsl(136, 65%, 51%);
$BrightCyan: hsl(192, 70%, 51%);

//Neutral colors
$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayishBlue: hsl(220, 16%, 96%);
$VeryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

//font sizes
$default: 1.125rem;
$desktop_default: 1.25rem;
$mobile_h1: 2.31rem;
$desktop_h1: 3.25rem;
$mobile_h2: 1.9375rem;
$desktop_h2: 2.7375rem;
$mobile_h3: 1.4625rem;
$desktop_h3: 1.49rem;
