@import "variables";
@import "mediaqueries";
@import "animations";
@import "header";
@import "hero-section";
@import "feature";
@import "article";
@import "footer";

//general styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: $default;
  @include breakpointsUp(tablet) {
    font-size: $desktop_default;
  }
  font-weight: 300;
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
}
h1,
h2,
h3 {
  margin: 0;
  color: $DarkBlue;
  font-weight: 400;
}
p {
  color: $GrayishBlue;
  font-size: $default;
  line-height: 1.5;
  @include breakpointsUp(tablet) {
    font-size: $desktop_default;
  }
}
h3 {
  font-size: $mobile_h3;
  @include breakpointsUp(tablet) {
    font-size: $desktop_h3;
  }
}
h2 {
  font-size: $mobile_h2;
  @include breakpointsUp(tablet) {
    font-size: $desktop_h2;
  }
}
a {
  text-decoration: none;
  cursor: pointer;
  color: $GrayishBlue;
}
button {
  position: relative;
  border-radius: 3.125rem;
  border: 0;
  outline: 0;
  background-image: linear-gradient(90deg, $LimeGreen, $BrightCyan);
  cursor: pointer;
  padding: 0.9375rem 2.125rem;
  color: $White;
  font-size: $default;
  font-weight: 400;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border-radius: 3.125rem;
    background-color: rgba(255, 255, 255, 0.25);
    transition: all 150ms ease-in-out;
  }
  &:hover::before {
    opacity: 1;
  }
}

//helping classes
%flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.noScroll {
  overflow: hidden;
}
.padding {
  max-width: 69.375rem;
  margin: 0 auto;
  &_top {
    padding-top: 3.9375rem;
    @include breakpointsUp(tablet) {
      padding-top: 6.875rem;
    }
  }
  &_bottom {
    padding-bottom: 3.9375rem;
    @include breakpointsUp(tablet) {
      padding-bottom: 6.875rem;
    }
  }
  &_left {
    padding-left: 1.5rem;
  }
  &_right {
    padding-right: 1.5rem;
  }
  &_padX {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  &_padY {
    padding-top: 3.9375rem;
    padding-bottom: 3.9375rem;
    @include breakpointsUp(tablet) {
      padding-top: 6.875rem;
      padding-bottom: 6.875rem;
    }
  }
  &_padAll {
    padding-top: 3.9375rem;
    padding-bottom: 3.9375rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    @include breakpointsUp(tablet) {
      padding-top: 6.875rem;
      padding-bottom: 6.875rem;
    }
  }
}
